chromadb
pandas
numpy
tqdm
matplotlib
datasets
sentence-transformers
voyageai
openai
anthropic
pytrec_eval
notebook
dotenv
aiohttp>=3.13.3 # not directly required, pinned by Snyk to avoid a vulnerability